body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(54, 180, 0);
}

.note {
    background-color: rgb(57, 162, 255);
    margin: 20px;
    height: 400px;
    width: 400px;
}

.note .tools {
    background-color: rgb(254, 2, 204);
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.note .tools button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.note .main{
    height: 100%;
    width: 100%;
    background-color: rgb(214, 197, 231);
    overflow: hidden;
}

.note textarea {
    height: 100%;
    width: 100%;
    border: none;
    font-family: inherit ;
    outline: none;
    font-size: 1.2rem;
}

.note .hidden {
    display: none;
}

.add {
    background-color: yellow;
    margin: 2rem auto;
    padding: 0.5rem 1rem ;
    color: rgb(0, 118, 32);
    border-radius: 3px;
    position: fixed;
    border: none;
    top: 1rem;
    right: 1rem;

}