body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(54, 180, 0);
    padding-top: 3rem;
}


.add {
    cursor: pointer;
    background-color: yellow;
    margin: 2rem auto;
    position: fixed;
    border: none;
    padding: 0.5rem 1rem ;
    color: rgb(0, 118, 32);
    border-radius: 3px;
    
    top: 1rem;
    right: 1rem;

}

.note {
    background-color: white;
    margin: 20px;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
    height: 400px;
    width: 400px;
}

.note .tools {
    background-color: rgb(254, 2, 204);
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    width: 100;
}

.note .tools button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.note .main{
    height: 400px;
    width: 100%;
    background-color: rgb(57, 162, 255);
    overflow: hidden;
}

.note textarea {
    height: 400px;
    width: 100%;
    border: none;
    font-family: inherit ;
    outline: none;
    font-size: 1.2rem;
}

.note .hidden {
    display: none;
}
